/* Milos grejer */
* {
    margin: 0;
    padding: 0;
}


#priserbody {
    background-image: url(../img/download.jpg);
    margin: 0%;

}

.pris-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 80vh;


}

.priskolumn {
    background-color: rgb(177, 177, 177);
    box-shadow: 0 5px 30px rgba(3, 3, 3, 0.2);
    padding: 3%;

    flex-grow: 1;
    /*så att de växer, max width så att de inte växer för mycket */
    max-width: 250px;
    margin: 0 2%;
}

.priskolumn.populär {
    /*få mitten boxen att poppa ut mer, dra ögat till den */
    background-color: var(--main-accent-color);
    padding-top: 4.5%;
    padding-bottom: 4.5%;
}

.pris-header {
    /*för att enkelt centrera texten i toppen av boxen */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}

.pris {
    font-size: 3rem;
    display: flex;
    /*för att få SEK, prissiffran och /h på en rad */
}

.sek,
.pertimme {
    font-size: 1rem;
    /*minska både SEK och /h */
}

.sek {
    margin-right: 6px;
    /*så den inte är för trångt bredvid priset */
}

.pertimme {
    margin-top: 33px;
    /*få /h under priset */
}

.package-namn {
    padding-top: 20px;
}

.divider {
    /*horisontell linje för att separera headern och innehållet */
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    margin: 2rem 0;
}

.pris-ikoner {
    max-width: 18px;
    margin-right: 0.8em;
}

.feature {
    font-size: 1.25rem;
    margin-top: 22px;
}

.feature.inaktiv {
    color: rgb(117, 117, 117);
    text-decoration-line: line-through;
}

.package-knapp {
    border: none;
    background-color: var(--main-accent-color);
    width: 100%;
    padding: 5%;
    cursor: pointer;
    /*Så att knappen ser mer klickbar ut när man hoverar över den */
    margin-top: 25px;
    border-radius: 4px;
    font-weight: bold;
    font-size: large;
    transition: 200ms;
    /*När knappen poppar ut gör den det lite saktare */
}

.package-knapp.populär {
    background-color: rgb(0, 0, 0);
    color: var(--main-accent-color);
}

.package-knapp:hover,
.package-knapp:focus {
    transform: scale(1.1);
    /*Knappen förstoras med 10% när man hoverar över den, alltså poppar ut */
}

#pris-form-container {
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 80px);
    background-color: rgba(0, 0, 0, .8);
    max-width: 80%;
    margin: 0 auto;
}

#form-divider {
    width: 80%;
    height: 1px;
    border: 1px solid black;
    background-color: black;
    opacity: 0.8;
}



#pris-form {
    padding-top: 3%;
    padding-right: 5%;
    grid-column: 3 /5;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr;

    min-height: 250px;
    min-width: 200px;
}

input[type=mail],
input[type=name] {
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--main-accent-color);
    grid-row: 2/3;
    background-color: transparent
}

input[type=mail] {
    width: 90%;
}

label[for=name] {
    grid-row: 1;
    grid-column: 2 /3;
}

label[for=mail] {
    grid-row: 1;
    grid-column: 1 /2;
}

#beskrivning {
    grid-row: 3/5;
    grid-column: 1 / 4;
    border: none;
    border-bottom: 2px solid var(--main-accent-color);
    background-color: transparent;
    color: white;
}

#pris-h3,
#pris-p {
    padding: 6%;
    grid-column: 1;
}

@media screen and (max-width: 1050px) {
    .priskolumn.populär {
        order: 1;
    }
}

@media screen and (max-width: 620px) {

    .priskolumn.populär {
        order: 0;
    }

    #pris-h3,
    #pris-p {
        grid-column: 1 / 3;
    }

    #pris-p {
        grid-row: 3;
    }
}

#pris-form-submit {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
    height: 50%;
    width: 50%;
    font-weight: bold;
    font-size: larger;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    margin-top: 2%;
    background-color: var(--main-accent-color);
}

/* Fredrik */


.index-container {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/Kopia\ av\ high\ rises.JPG);
    background-position: center;
    background-size: cover;

}

.text-box {
    width: 90%;
    color: var(--main-accent-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    font-size: 36px;
    background-color: black;
    opacity: 0.7;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links>ul>li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    border: 1px solid white;
}

.nav-links>ul>li>a {
    color: white;
    text-decoration: none;
}

.nav-links>ul>li:hover {
    background: var(--main-accent-color);
    transition: 1s;
}

.maincontainer2 {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
    padding: 20px;
    gap: 10px;
}

.headline {
    margin: auto;
    text-align: center;
    padding: 100px;
}

.mainbox1,
.mainbox2,
.mainbox3 {
    min-height: 200px;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

i.quote {
    font-size: 20px;
    color: var(--main-accent-color);
}

.indexcontent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex: 15 0 110px;
}

.name {
    font-weight: 600;
    font-size: 19px;
}

.kund {
    color: var(--main-accent-color);
    font-weight: 500;
    font-size: 16px;
}

.stars {
    margin-top: 5px;
    color: var(--main-accent-color);
}

.mainimage img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.mainbox1 {
    grid-column: 1 / 1;
}

.mainbox2 {
    grid-column: 2 / 2;
}

.mainbox3 {
    grid-column: 3 / 3;
}

@media screen and (max-width: 811px) {
    .text-box {
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 767px) {
    .mainbox1 {
        grid-column: 1 / 4;
    }

    .mainbox2 {
        grid-column: 1 / 4;
    }

    .mainbox3 {
        grid-column: 1 / 4;
    }

    .mainbox1 {
        padding: 5px;
    }
}

@media screen and (max-width: 390px) {
    nav {
        padding: 2px;
    }

    .nav-links {
        text-align: center;
    }
}

/* Liza */

.om-oss {
    text-align: center;
    font-size: 30px;
    color: var(--main-accent-color);


}



.om-oss-main {
    display: flex;
    flex-flow: row;
    width: 60%;
    padding: 40px;
    margin: auto;
    gap: 5%;
}

.om-oss-main img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    padding: 5px;
}

.om-oss-main h2 {
    color: var(--main-accent-color);
}

.om-oss-content {
    display: grid;
    grid-template-columns: 0% 25% 25% 0%;
    margin: 20px;
    column-gap: 10%;
    justify-content: center;

}

.om-oss-content h2 {
    color: var(--main-accent-color);
}

.om-oss-item1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 1 / span 1;
    padding: 20px;

}


.om-oss-item2 {

    grid-column-start: 3;
    grid-column-end: 3;
    grid-row: 1 / span 1;
    padding: 20px;


}

.om-oss-footer {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    font-style: bold;
    margin: 30px;
    color: var(--main-accent-color);


}

@media screen and (max-width: 768px) {

    .om-oss-main {
        margin: 0px;
        padding-top: 45px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .om-oss-main img {
        width: 100%;
    }

    .om-oss-content {
        grid-template-columns: auto;


    }

    .om-oss-item1 {
        grid-row: 1 /span 1;
        grid-column: 2;

    }

    .om-oss-item2 {
        grid-row: 2 / span 1;
        grid-column: 2;


    }

    .om-oss-footer {
        display: grid;
    }



}

/* css by Dipti */
/* color and background color */
.gold {
    color: #e9bc27;
}

.bg-gold {
    background-color: #e9bc27;
}

.bg-white {
    background-color: #ffffff;
}

/* font size only used for contact page, gallerypage and footer part*/
.heading-one {
    font-size: 60px;
    font-weight: bold;
}

.heading-two {
    font-size: 48px;
}

.heading-three {
    font-size: 36px;
}

.heading-four {
    font-size: 28px;
}

.uppercase {
    text-transform: uppercase;
}

/* css for contact page */
.contact-page {
    background-color: black;
    text-align: center;
}


.contact-main-part {
    background-color: #ffffff;
    margin-top: 35px;
    padding: 25px;
    display: grid;
    grid-template-columns: auto auto;
}


iframe {
    margin: 20px;
}

.contact-main-part p {
    font-size: 20px;
}

.contact-us-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contact-us-right h3 {

    margin-bottom: 55px;

    text-align: center;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    margin-bottom: 8px;
    width: 350px;

}

.text-muted:before {
    content: "*";
    font-size: 15px;
}

.contact-form label {
    font-size: 16px;
    font-weight: bold;
}

.contact-form-btn {
    border-color: #e9bc27;
    width: 100px;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase
}

.contact-form-btn:hover {
    border-color: #000;
    background-color: #000;
    color: #ffffff;
}


.contact-form {
    margin: auto;

}

/* footer css */
footer {

    background-color: #000;
    color: #ffffff;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    column-gap: 20px;
    text-align: center;
    padding-top: 30px;
}

.four-col-footer ul li {
    list-style-type: none;

}

.four-col-footer ul li a {
    text-decoration: none;
    color: #ffffff;

}

.copyright-text {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    padding: 30px;

}

.footer-col-four ul li {
    display: inline-block;
    margin-left: 5px;
    width: 25px;
    height: 25px;

}

.four-col-footer h2 {
    margin-bottom: 15px;
}

/* gallery page css here */
.gallary-main img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    padding: 5px;
}

.gallary-main {
    margin: 0px;
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
}

.gallery-allphotos img {
    border-radius: 10px;

}


.gallery-title {
    background-color: #e9bc27;
    margin-top: 35px;
    padding: 25px;
    text-align: center;
}

.gallery-title label {
    display: inline-block;
    height: 100%;
    line-height: 60px;
    color: #000;
    cursor: pointer;
    transition: .5s;
    border: 2px solid;
    padding: 5px 10px;
    border-radius: 5px;

}

.gallery-title label:hover {
    color: #fff;

}

.gallery-radio-button {
    display: none;
}

.gallery-allphotos img:hover::after {
    height: 100%;

}

.gallery-allphotos img:hover::before {
    height: 100%;
    margin-top: 0;
    opacity: 1;
}



#category-1:checked~.gallary-main .gallery-allphotos,
#category-2:checked~.gallary-main .gallery-allphotos,
#category-3:checked~.gallary-main .gallery-allphotos,
#category-4:checked~.gallary-main .gallery-allphotos {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

#category-1:checked~.gallary-main .gallery-allphotos,
#category-2:checked~.gallary-main .nature-pic,
#category-3:checked~.gallary-main .bridal-pic,
#category-4:checked~.gallary-main .people-pic {
    transform: scale(1);
    opacity: 1;
    position: relative;
    transition: .3s;
}

#category-1:checked~.gallery-title .category-1,
#category-2:checked~.gallery-title .category-2,
#category-3:checked~.gallery-title .category-3,
#category-4:checked~.gallery-title .category-4 {
    color: #fff;
}

*** media query css for contact us, gallery and footer by Dipti starts here: ***/

/* media query css for contact us page*/


/* for ipad pro screensize 1366px and 1024px */
@media only screen and (max-width: 1366px) and (min-width: 1024px) {
    .gallary-main img {
        width: 281px;
    }

    .gallery-title {
        font-size: 32px;
    }

    .gallery-title label {
        padding: 0px 8px;
    }

    .contact-us-left h2 {
        font-size: 36px;
    }

    .contact-us-right h3 {
        font-size: 28px;
        margin-left: 148px;
    }
}



/* screensize 960px and 768px */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .gallary-main img {
        width: 170px;
        height: 180px;
    }

    .gallery-title {
        font-size: 28px;
    }

    .gallery-title label {
        padding: 0px 5px;
    }

    .contact-us-left h2 {
        font-size: 28px;
    }

    .contact-us_heading_text h1 {
        font-size: 48px;
        margin-top: 45px;
    }

    form.contact-form {
        padding-left: 180px;

    }
}

/* for small screensize, max-width 768px or less */
@media only screen and (max-width: 768px) {

    .contact-us_heading_text h1 {

        font-size: 36px;
        margin-top: 35px;
    }

    .contact-us_heading_text p {
        padding: 5px 20px;
    }

    .contact-main-part {
        padding-left: 0px;
    }

    .contact-us-left h2 {
        font-size: 32px;
    }

    iframe {
        width: 320px;
        height: 320px;
        padding-top: 20px;
    }

    .contact-main-part {

        display: flex;
        flex-direction: column;
        padding-left: auto;
        padding-right: auto;
    }

    .contact-us-right h3 {
        font-size: 24px;
        padding-top: 30px;
        margin-bottom: 20px;
    }

    .contact-us-right .contact-form {
        margin: auto 10px;
    }

    .form-group {
        width: 300px;
        margin-left: 25px;
    }

    .contact-form-btn {
        margin-left: 25px;
    }

    /* footer two column */
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 22px;
        column-gap: 20px;

    }

    .four-col-footer h2 {
        font-size: 20px;
    }

    .four-col-footer p {
        font-size: 16px;
    }

    .footer-col-three,
    .footer-col-four {
        margin-top: 25px;
    }

    .footer-col-two ul li {
        padding: 8px;
    }

    .copyright-text {
        margin-bottom: 10px;
    }

    /* for gallery page */
    .gallery-heading-text p {
        font-size: 20px;
    }

    .gallery-title label {
        display: inline-block;
        width: 140px;
        font-size: 18px;
        padding: 0px;
        margin-bottom: 10px;
    }
}